<html>
    <head>
        <title>Michael's Portfolio</title>
    </head>
    <body>
        <div>
            I am <%= person.firstName %> <%= person.lastName %>
        </div>
        <div>
            To Enter Your Contact Information <a href="/contact">Please Click Here</a> 
        </div>
    </body>

</html>