<html>
  <head>
    <title>Thank you for taking the time to reach out</title>
  </head>
  <body>
    <div>
      Thank you <%= contact.firstName %> <%= contact.lastName %>.
    </div>
  </body>
</html>